footer {
    background: #0f0f0f;
    padding: 2px 10%;
    display: flex;
    box-shadow: 0px -1px 5px rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer1 {
    display: block;
}

.footernone {
    display: none;
}

.titulo, .btnfooter {
    color: #F2B807;
    text-decoration: none;
    margin: 0px 5px;
}

.btnfooter:focus {
    opacity: 0.5;
    background: #000;
}

@media (max-width: 680px) {
    .footer1 {
        display: none
    }
    
    .footernone {
        display: grid;
        background: #000;
        padding: 2px;
        font-size: 8px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        box-shadow: 0px 0px 10px #0f0f0f;
    }
    
    .iconfooter {
        width: 35%;
        height: 35%;
        display: block;
        margin: 0 auto;
    }

    .footer3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
    }
    
    .terminos {
        text-align: center;
    }
  }