header {
    background: #0f0f0f;
    padding: 2px 10%;
    box-shadow: 0px 1px 5px rgb(0, 0, 0);
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.flex {
    display: flex;
}

.logo {
    display: inline-block;
    width: 98px;
    height: 98px;
}

header  h1 {
    display: inline;
    font-size: 40px;
    margin: 0px 10px;
}

nav {
    float: right;
}

.true .logo, .true>.flex>a {
    width: 37px;
    height: 37px;
}

.invisible {
    display: none;
    font-size: 30px;
}

.true .invisible {
    display: block;
}

.visible {
    display: block;
}

.true .visible {
    display: none;
}

/*

.true {
    animation-name: movido;
    animation-duration: 20ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes movido {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
}

*/

@media (max-width: 768px) {
    header h1 {
        font-size: 30px;
    }
    .logo, 
    .flex > a,
    .true .logo, 
    .true >.flex > a {
        width: 60px;
        height: 60px;
    }
    .true .invisible {
        display: none;
    }

    .true .visible {
        display: block;
    }

    .true {
        animation: none
    }
    header h1 {
        font-size: 24px;
        margin: 0px 5px;
    }

}

@media (max-width: 680px) {
    header {
        padding: 2px 5%;
    }

    .false {
        height: 60px;
    }

    .desktop-nav {
        display: none;
    }

    .logo, 
    .flex > a,
    .true .logo,
    .true >.flex > a {
        width: 60px;
        height: 60px;
    }

    .true .invisible {
        display: none;
    }

    .true .visible {
        display: block;
    }

    .true {
        animation: none
    }

    header h1 {
        font-size: 24px;
        margin: 0px 5px;
    }
}

.desktop-nav {
    margin-top: 6px;
    position: relative;
}

.desktop-nav a {
    color: #F2B807;
    display: block;
    width: 100%;
    padding: 1px;
}

.desktop-nav:hover h2 {
    animation: span;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.navhidden {
    display: none;
    position: absolute;
    right: -20px;
    background: rgba(16, 16, 121, 0.2);
    padding: 10px;
    font-size: 18px;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.navhidden li:hover {
    background: rgba(27, 31, 92, 0.5);
    padding: 0;
    margin: 0;
}

.desktop-nav:active .navhidden {
    display: block;
}

.desktop-nav:hover .navhidden {
    display: block;
    animation: nav;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes nav {
    0% {
        opacity: 0.5;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes span {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}