.main-concerts {
    display: grid;
    margin: 0;
    width: 100%;
    padding: 0px 10%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 60px;
}

.main-concerts h2 {
    margin-top: 10px;
    text-align: center;
    grid-column: 1 / -1;
}

.concert {
    width: 100%;
    z-index: 1;
}

.concert img {
    border-radius: 5px;
}

.concert img:hover {
    box-shadow: 0px 0px 5px #ccc;
    opacity: 0.5;
}

.concert:active {
    filter: blur(4px);
}

@media (max-width: 680px) {
    .main-concerts {
        padding: 0px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .concert {
        width: 95%;
        margin: auto;
    }
}
